:root{
  overflow: hidden
  
}
#root{
  /* background: conic-gradient(from 219deg at 56.06% 107.53%, #3A8480 0deg, #FFF 360deg); */
  background-image: url('https://wallpaperaccess.com/full/3898796.jpg');
  height: 100vh;

  /* background-size: 100%; */
}



body {
  font-family: Inder, system-ui, Helvetica, Arial, sans-serif;
  margin: 0;
}

input, label {
  display: block;
}

input {
  margin-bottom: 1rem;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
  background: #000;
}

#logo {
  font-size: 1.5rem;
  font-weight: bold;
  text-decoration: none;
  color: #FFF;
}

nav ul {
  display: flex;
  gap: 1rem;
  padding: 0;
  margin: 0;
  list-style: none;
}

nav a {
  display: block;
  color: #FFF;
}

form {
  padding: 1rem;
  border: 1px solid #CCC;
  width: 15rem;
  margin: 1rem auto;
  font-size: 30px;
}
#username{
  scale: 1.5;
  border-radius: 5px;
}
#password{
  scale: 1.5;
  border-radius: 5px;
}
#cred-button{
  color: white;
  background-color: transparent;
  font-size: 20px;
  padding: 1.5%;
  border-radius: 5px;
}
/* automatically added by NavLink component */
.active {
  color: #EEBC32;
  font-weight: bold;
  font-style: italic;
}


.acc-cred-title{
  text-align: center;
  color: white;
  text-decoration: underline;
}
.acc-cred-form{
  margin-bottom: 3%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  color:white;
  width: 40%;
  height: 20rem;
  border: 0px;
  border-radius: 50px;
  background:#00000040 ;
}

#cred-redir{
  color:white;
  font-size: 30px;
  text-align: center;
}


/*  ----------------------LESSON------------------------ */


#video-section{
  display: flex;
  flex-direction: column;
  align-items: center;
}
#video-title{
  color: white;
  font-size: 50px;
  -webkit-text-stroke: #000 1px ;
}
#lesson-content{
  display: flex;
  justify-content: center;
  padding-bottom: 50%;
}
#vocabulary{
  font-size:32px;
  border-radius: 25px;
  z-index: 1;
  margin-top: 10px;
  margin-right: -5em;
  height:100px;
  width: 200px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border: #76bef2 3px solid ;
}#vocabulary:hover{
  background-color: #76bef2;
  scale: 1.1;
  transition-duration: .2s;
  color:white;
  /* font-size: 35 */
}

#transcript{
  margin-top: 50px;
  height:auto;
  width: 70%;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: #000 1px solid;
  padding: 20px;
  border-radius: 20px;
}#lesson-transcript{
  width: 80%;
}
#notes{
  font-size:32px;
  border-radius: 25px;
  margin-top: 10px;
  margin-left: -5em;
  height:100px;
  width: 200px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border: #76bef2 3px solid;
}#notes:hover{
  background-color: #76bef2;
  scale: 1.1;
  transition-duration: .2s;
  color:white;
  /* font-size: 35 */
}

/*  ------------------------COURSES---------------------- */
#course-title{
  text-align: center;
  border: #000 1px;
  font-size: 75px;
  color: white;
}

#course-list{
  display: flex;
  justify-content: center;
}

#course-item{
  color: orange !important;
  list-style: none;
  text-decoration: none;
  width: 20%;
  margin: 0px 100px;
  margin-bottom: 50%;
}


.course-card{
  width: 100%;
  /* border: 1px solid #000; */
}
.course-link{
  color: #f37646 !important;
  text-decoration: none;
}
.course-name{
  background-color: white;
  margin: 0%;
  padding: 5%;
  text-align: center;
}
.course-thumb{
  width: 100%;
  /* height:50%; */
}


/* ////////////////////////  QUIZ  ////////////////////////// */

test{
  display: flex;
  justify-content: center;
}

#test-area{
  margin-top: 2%;
  border-radius: 15px;
  display:flex ;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80%;
  height: 30rem;
  color: white;
  background-color: rgba(0, 0, 0, 0.171);
}

.question-text{
font-size: 30px;
}
.quiz-choices{
  scale:1.2;
  /* padding :10px; */
}
.choices{
  padding: 10px;
  color: white;
  font-size: 20px;
  border-radius: 15px;
  padding: 20px;
  margin: 0px 10px;
  background-color: #76bef2;
}
#restart-button{
  color: white;
  background-color: transparent;
  font-size: 20px;
  padding: 5%;
  border-radius: 5px;
}



userprofile{
  display: flex;
  flex-direction: column;
  align-items: center;
}

#profile-name{
  color: white;
  text-align: center;
}
#pfp{
  width: 250px;
}
#logout-button{
  color: white;
  background-color: transparent;
  font-size: 20px;
  padding: 1%;
  border-radius: 5px;
}
.user-update-form-input{
margin: 5% 0%;
}

#user-update-form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30%;
  height: 15rem;
  background-color: #0000003a;
  color: white;
  border: 0px;
  border-radius: 15px;
}